@import 'bootstrap/less/variables.less';

html, body {
    height: 100vh;
    background-color: #FEFEFE;

    font-size: 10px;
    font-family: 'Exo 2', sans-serif;
}

body {
    position: relative;
}

#page-body {
    position: relative;

    font-size: 1.5rem;
}

#page-intro {
    position: relative;
    margin: 0 -1.5rem;

    z-index: 10;

    .intro-pic {
        background-image: url('http://placehold.it/1280x800');
        
        width: 100%;
        height: 100vh;
        min-height: 100vh;

        &.xs {
            background-image: url('http://placehold.it/600x600');
        }
    }

    .intro-heading {
        position: absolute;

        width: 100%;
        bottom: 8vh;

        text-align: center;
        background-color: rgba(0, 0, 0, .2);
    }
}

#page-body-content {
    top: 0;

    z-index: 9;
}

#main-navigation {
    height: 52px;

    .navbar {
        margin: 0 -1.5rem;
        z-index: 10;

        &.affix {
            top: 0;
            width: 100%;
        }
    }
}

.page-content-holder {
    position: relative;

    .page-content {
        position: absolute;
        width: 100%;
        left: 120%;

        &.active {
            left: 0;
            
            transition: left .25s;
        }
    }

    #home {
        section {
            margin: 0 -1.5rem 5vh -1.5rem;

            > div {
                height: 25vh;

                &.img {
                    background-image: url('http://placehold.it/200x200');
                }
            }

            &.left {
                text-align: right;
            }
        }

        @media (min-width: @screen-sm-min) {
            section {
                margin: 0 -1.5rem 3rem -1.5rem;

                > div {
                    height: 40vh;
                }
            }

            section:last-child {
                border-bottom-width: 0;
            }
        }
    }
}

.img {
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.cursive {
    font-family: 'Great Vibes', cursive;
}

h2 {
    font-size: 2rem;
}